<section
  class="md:max-w-3xl max-w-md mx-auto p-5 my-5 border space-y-5 bg-white dark:bg-gray-800 rounded-lg shadow-lg dark:shadow-none"
>
  <h2 class="text-2xl font-semibold text-gray-800 dark:text-white text-center">{{ 'REGISTER_NOW' | translate }}</h2>

  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="text"
        name="floating_Name"
        id="floating_Name"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        formControlName="name"
      />
      <label
        for="floating_Name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{ 'NAME' | translate }}</label
      >
      @if (registerForm.get('name')?.errors &&
      (registerForm.get('name')?.touched || registerForm.get('name')?.dirty )) {
      <div>
        @if ( registerForm.get('name')?.getError('required') ) {
        <p class="text-red-500 text-xs italic">{{ 'REQUIRED_FIELD' | translate }}</p>
        } @else if ( registerForm.get('name')?.getError('minlength') ) {
        <p class="text-red-500 text-xs italic">
          {{ 'NAME_MIN_LENGTH' | translate }}
        </p>
        } @else if ( registerForm.get('name')?.getError('maxlength') ) {
        <p class="text-red-500 text-xs italic">
          {{ 'NAME_MAX_LENGTH' | translate }}
        </p>
        }
      </div>
      }
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="email"
        name="floating_email"
        id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        formControlName="email"
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{ 'EMAIL_ADDRESS' | translate }}</label
      >
      <div>
        @if (registerForm.get('email')?.errors &&
        (registerForm.get('email')?.touched || registerForm.get('email')?.dirty
        )) {
        <div>
          @if ( registerForm.get('email')?.getError('required') ) {
          <p class="text-red-500 text-xs italic">{{ 'REQUIRED_FIELD' | translate }}</p>
          } @else if ( registerForm.get('email')?.getError('email') ) {
          <p class="text-red-500 text-xs italic">{{ 'INVALID_EMAIL' | translate }}</p>
          }
        </div>
        }
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="tel"
        name="floating_phone"
        id="floating_phone"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        formControlName="phone"
      />
      <label
        for="floating_phone"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{ 'PHONE_NUMBER' | translate }}</label
      >
      <div>
        @if ( registerForm.get('phone')?.errors &&
        (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty
        )) {
        <div>
          @if ( registerForm.get('phone')?.getError('required') ) {
          <p class="text-red-500 text-xs italic">{{ 'REQUIRED_FIELD' | translate }}</p>
          } @else if ( registerForm.get('phone')?.getError('pattern') ) {
          <p class="text-red-500 text-xs italic">{{ 'INVALID_PHONE' | translate }}</p>
          }
        </div>
        }
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="password"
        name="floating_password"
        id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        formControlName="password"
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{ 'PASSWORD' | translate }}</label
      >
      <div>
        @if ( registerForm.get('password')?.errors &&
        (registerForm.get('password')?.touched ||
        registerForm.get('password')?.dirty )) {
        <div>
          @if ( registerForm.get('password')?.getError('required') ) {
          <p class="text-red-500 text-xs italic">{{ 'REQUIRED_FIELD' | translate }}</p>
          } @else if ( registerForm.get('password')?.getError('pattern') ) {
          <p class="text-red-500 text-xs italic">{{ 'INVALID_PASSWORD' | translate }}</p>
          }
        </div>
        }
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="password"
        name="repeat_password"
        id="floating_repeat_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        formControlName="rePassword"
      />
      <label
        for="floating_repeat_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{ 'CONFIRM_PASSWORD' | translate }}</label
      >
      <div>
        @if ( registerForm.getError('mismatch') &&
        (registerForm.get('rePassword')?.touched ||
        registerForm.get('rePassword')?.dirty ) ) {
        <div>
          <p class="text-red-500 text-xs italic">{{ 'PASSWORDS_MISMATCH' | translate }}</p>
        </div>
        }
      </div>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      {{ 'REGISTER' | translate }} 
      @if (isLoading) {
      <span class="pl-2">
        <i class="fa fa-spin fa-spinner"> </i>
      </span>
      }
    </button>

  </form>
</section>
