<section
  class="md:max-w-3xl max-w-md mx-auto p-5 my-5 border space-y-5 bg-white dark:bg-gray-800 rounded-lg shadow-lg dark:shadow-none"
>
  <h2>Verify Code</h2>
  <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSubmit()">
    <div class="mb-5">
      <label
        for="number"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Code</label
      >
      <input
        type="number"
        id="number"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="123456"
        required
        formControlName="resetCode"
      />
      <div class="pt-2">
        @if (verifyCodeForm.get('resetCode')?.errors &&
        (verifyCodeForm.get('resetCode')?.touched ||
        verifyCodeForm.get('resetCode')?.dirty )) {
        <div class="pt-2">
          @if ( verifyCodeForm.get('resetCode')?.getError('required') ) {
          <p class="text-red-500 text-xs italic">Please fill out this field.</p>
          } @else if ( verifyCodeForm.get('resetCode')?.getError('pattern')
          ) {
          <p class="text-red-500 text-xs italic">Invalid Code.</p>
          }
        </div>
        }
      </div>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Verify Code @if (isLoading) {
      <span class="pl-2">
        <i class="fa fa-spin fa-spinner"> </i>
      </span>
      }
    </button>

    @if (msgSuccess) {
    <p class="text-red-500 text-xs italic pt-4">Success to verify code</p>
    } @if (msgError) {
    <p class="text-red-500 text-xs italic pt-4">
      {{ msgError }}
    </p>
    }
  </form>
</section>
