<section class="px-4 py-8">
  <div class="flex my-3 items-center max-w-xl mx-auto">
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 18 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"
          />
        </svg>
      </div>
      <input
        [(ngModel)]="text"
        type="text"
        id="simple-search"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search By name..."
        required
      />
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
  >
    @for (product of productsList | search:text ; track product.id) {
    <div
      class="product bg-white dark:bg-gray-800 p-5 shadow-md rounded-lg hover:shadow-lg transition-shadow duration-300"
    >
      <div title="Add to Wishlist" class="cursor-pointer">
        @if (!wishlist.includes(product.id)) {
        <i
          (click)="addToWishlist(product.id)"
          class="fa-regular fa-heart fa-xl wishlist-icon"
        ></i>
        } @if (wishlist.includes(product.id)) {
        <i
          (click)="removeFromWishlist(product.id)"
          class="fa-solid fa-heart fa-xl text-red-500 wishlist-icon"
        ></i>
        }
      </div>
      <div [routerLink]="['/details', product.id]" class="cursor-pointer">
        <img
          [src]="product.imageCover"
          class="w-full rounded-md mb-4"
          alt="{{ product.title }}"
        />
        <h3 class="text-gray-500 dark:text-gray-400 text-sm mb-1">
          {{ product.category.name | uppercase }}
        </h3>
        <h4 class="text-gray-800 dark:text-gray-200 font-semibold mb-2">
          {{ product.title | termtext : 2 }}
        </h4>
        <div class="flex justify-between items-center text-sm">
          <span class="text-green-600 font-bold"
            >{{ product.price | currency : "GBP" }}
          </span>
          <div class="flex items-center space-x-1">
            @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage ); track
            $index) {
            <i class="fa fa-star text-yellow-400"></i>
            } @if (product.ratingsAverage % 1 !== 0) {
            <i class="fa-solid fa-star-half-stroke text-yellow-400"></i>
            }
            <span class="text-gray-500 dark:text-gray-400 ml-2">{{
              product.ratingsAverage
            }}</span>
          </div>
        </div>
      </div>
      <button
        (click)="addToCart(product.id)"
        class="btn-main w-full mt-4 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition-colors duration-300"
      >
        {{ 'WISHLIST.ADD_TO_CART' | translate }}
      </button>
    </div>
    }
  </div>
</section>
