<section>
  <div class="text-center mb-5 pt-5">
    <button
      [ngClass]="{ 'active-link': selectedPaymentMethod === 'visa' }"
      (click)="togglePaymentMethod('visa')"
      class="px-6 py-3  transform transition-transform duration-300 hover:scale-105  focus:outline-none"
    >
      Visa
      <i class="fa-brands fa-cc-visa fa-lg ml-2"></i>
    </button>
    <button
      [ngClass]="{ 'active-link': selectedPaymentMethod === 'cash' }"
      (click)="togglePaymentMethod('cash')"
      class="px-6 py-3  transform transition-transform duration-300 hover:scale-105  focus:outline-none ml-2"
    >
      Cash
      <i class="fa-solid fa-money-bill-wave fa-lg ml-2"></i>
    </button>
  </div>

  @if (selectedPaymentMethod === 'visa') {
  <div
    title="visa"
    class="md:max-w-3xl max-w-md mx-auto p-5 my-5 border space-y-5 bg-white dark:bg-gray-800 rounded-lg shadow-lg dark:shadow-none"
  >
    <form [formGroup]="orders" (ngSubmit)="orderSubmit()">
      <div class="mb-5">
        <label
          for="details"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Details</label
        >
        <input
          type="text"
          id="details"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          formControlName="details"
          required
        />
      </div>
      <div class="mb-5">
        <label
          for="phone"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Your phone</label
        >
        <input
          type="tel"
          id="phone"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          formControlName="phone"
        />
      </div>
      <div class="mb-5">
        <label
          for="city"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Your City</label
        >
        <input
          type="text"
          id="city"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          formControlName="city"
        />
      </div>

      <button
        [disabled]="orders.invalid"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          class="w-3.5 h-3.5 me-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 21"
        >
          <path
            d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"
          />
        </svg>
        Buy Visa
        <i class="fa-brands fa-cc-visa fa-lg ml-2"></i>
      </button>
    </form>
  </div>
  } @if (selectedPaymentMethod =='cash') {
  <div
    title="cash"
    class="md:max-w-3xl max-w-md mx-auto p-5 my-5 border space-y-5 bg-white dark:bg-gray-800 rounded-lg shadow-lg dark:shadow-none"
  >
    <form [formGroup]="orders" (ngSubmit)="cashSubmit()">
      <div class="mb-5">
        <label
          for="details"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Details</label
        >
        <input
          type="text"
          id="details"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          formControlName="details"
          required
        />
      </div>
      <div class="mb-5">
        <label
          for="phone"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Your phone</label
        >
        <input
          type="tel"
          id="phone"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          formControlName="phone"
        />
      </div>
      <div class="mb-5">
        <label
          for="city"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Your City</label
        >
        <input
          type="text"
          id="city"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          formControlName="city"
        />
      </div>

      <button
        [disabled]="orders.invalid"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          class="w-3.5 h-3.5 me-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 21"
        >
          <path
            d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"
          />
        </svg>
        Buy cash
        <i class="fa-solid fa-money-bill-wave fa-lg ml-2"></i>
      </button>
    </form>
  </div>
  }
</section>
