<section
  class="md:max-w-3xl max-w-md mx-auto p-5 my-5 border bg-white dark:bg-gray-800 rounded-lg shadow-lg dark:shadow-none"
>
  <div class="space-y-5">
    <h2
      class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
    >
      {{ "UPDATE_PASSWORD.TITLE" | translate }}
    </h2>

    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePasswordSubmit()">
      <!-- Current Password -->
      <div class="mb-5">
        <label
          for="currentPassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "UPDATE_PASSWORD.CURRENT_PASSWORD_LABEL" | translate }}
        </label>
        <input
          type="password"
          id="currentPassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [placeholder]="
            'UPDATE_PASSWORD.CURRENT_PASSWORD_PLACEHOLDER' | translate
          "
          required
          formControlName="currentPassword"
        />
        <div class="pt-2">
          @if (updatePasswordForm.get('currentPassword')?.errors &&
          (updatePasswordForm.get('currentPassword')?.touched ||
          updatePasswordForm.get('currentPassword')?.dirty)) {
          <div>
            @if
            (updatePasswordForm.get('currentPassword')?.getError('required')) {
            <p class="text-red-500 text-xs italic">
              {{ "UPDATE_PASSWORD.ERRORS.REQUIRED" | translate }}
            </p>
            } @else if
            (updatePasswordForm.get('currentPassword')?.getError('pattern')) {
            <p class="text-red-500 text-xs italic">
              {{ "UPDATE_PASSWORD.ERRORS.INVALID_PASSWORD" | translate }}
            </p>
            }
          </div>
          }
        </div>
      </div>

      <!-- New Password -->
      <div class="mb-5">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "UPDATE_PASSWORD.NEW_PASSWORD_LABEL" | translate }}
        </label>
        <input
          type="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [placeholder]="'UPDATE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate"
          required
          formControlName="password"
        />
        <div class="pt-2">
          @if (updatePasswordForm.get('password')?.errors &&
          (updatePasswordForm.get('password')?.touched ||
          updatePasswordForm.get('password')?.dirty)) {
          <div>
            @if (updatePasswordForm.get('password')?.getError('required')) {
            <p class="text-red-500 text-xs italic">
              {{ "UPDATE_PASSWORD.ERRORS.REQUIRED" | translate }}
            </p>
            } @else if (updatePasswordForm.get('password')?.getError('pattern'))
            {
            <p class="text-red-500 text-xs italic">
              {{ "UPDATE_PASSWORD.ERRORS.INVALID_PASSWORD" | translate }}
            </p>
            }
          </div>
          }
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-5">
        <label
          for="rePassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "UPDATE_PASSWORD.CONFIRM_PASSWORD_LABEL" | translate }}
        </label>
        <input
          type="password"
          id="rePassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [placeholder]="
            'UPDATE_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate
          "
          required
          formControlName="rePassword"
        />
        <div class="pt-2">
          @if (updatePasswordForm.getError('mismatch') &&
          (updatePasswordForm.get('rePassword')?.touched ||
          updatePasswordForm.get('rePassword')?.dirty)) {
          <div>
            <p class="text-red-500 text-xs italic">
              {{ "UPDATE_PASSWORD.ERRORS.PASSWORDS_NOT_MATCH" | translate }}
            </p>
          </div>
          }
        </div>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        {{ "UPDATE_PASSWORD.SUBMIT" | translate }}
        @if (isLoading) {
        <span class="pl-2">
          <i class="fa fa-spin fa-spinner"></i>
        </span>
        }
      </button>
    </form>
  </div>
</section>
